apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: proofstack
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      enableServiceLinks: false
      containers:
        - name: api
          image: ghcr.io/kamomotov/proofstack-api:latest
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: api-config
            - secretRef:
                name: api-secret

          readinessProbe:
            httpGet:
              path: /api/health
              port: 8000
              httpHeaders:
                - name: Host
                  value: proofstack.local
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /api/health
              port: 8000
              httpHeaders:
                - name: Host
                  value: proofstack.local
            initialDelaySeconds: 15
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 3
